In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

## Install Sentence Transformer Library

In [2]:
# Install the library using pip
# !pip3 install sentence-transformers scikit-learn catboost  -U
# !pip3 install nltk -U

# import nltk
# nltk.download('punkt')


# from google.colab import output
# output.enable_custom_widget_manager()

In [3]:
import pandas as pd
import numpy as np
# from sentence_transformers import SentenceTransformer, util

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split,GridSearchCV, cross_val_score, cross_val_predict
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import classification_report, roc_auc_score  

# https://stackoverflow.com/questions/53784971/how-to-disable-convergencewarning-using-sklearn
from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)
from sklearn.model_selection import train_test_split

from catboost import CatBoost,CatBoostClassifier, CatBoostRanker, Pool, MetricVisualizer
from copy import deepcopy
import numpy as np
import os
from sklearn.metrics import classification_report, roc_auc_score, top_k_accuracy_score , ndcg_score
from sklearn.model_selection import GroupShuffleSplit, StratifiedGroupKFold

In [4]:
# from transformers import AutoTokenizer, AutoModelForSequenceClassification, pipeline
# from sentence_transformers import SentenceTransformer, LoggingHandler
# from sentence_transformers import models, util, datasets, evaluation, losses, SentencesDataset ## https://www.sbert.net/docs/package_reference/losses.html + SentencesDataset
# from sentence_transformers import SentenceTransformer, InputExample, losses ## MultipleNegativesRankingLoss
# from torch.utils.data import DataLoader
## https://www.sbert.net/docs/package_reference/losses.html#multiplenegativesrankingloss
# from sentence_transformers.readers import InputExample
import logging
import os
import gzip
# from torch.utils.data import DataLoader
from datetime import datetime
import sys

In [5]:
# model_name = "all-MiniLM-L6-v2"
model_name = "all-MiniLM-L12-v2"
# model_name = "/content/drive/MyDrive/research/cah/cah_tsdae-model"
min_cooccurences = 1#4 # filter sentences for pairs that occurred at least k times. min 5: 200K. min 1: 1.9M

ONE_COL_DATA_FORMAT = False
# USE_TEXT_COLS =  ["text"]#["text",	"white_card_text"]#["black_card_text",	"white_card_text"]
USE_TEXT_COLS = ["text","white_card_text"]
FASTRUN = False#False#True

TRAIN_EMBEDS = False#False # train and save embeddings on texts
MASK_EMBEDS = False # filter x train for only those with matches in embeds trained

TRAIN_PATH = "cah_train_games.parquet"#"/content/drive/MyDrive/research/cah/cah_train_games.parquet" # #
TEST_PATH = "cah_test_games.parquet"#"/content/drive/MyDrive/research/cah/cah_test_games.parquet" # #

TRAIN_TEST_SEPERATING_GROUP ="fake_round_id"# "white_card_text"# "fake_round_id"# # # seperate train/test by this col

In [6]:
from sklearn.metrics import top_k_accuracy_score
def eval_preds(df_test,preds):
    df2 = df_test[["fake_round_id","won"]].copy()
    df2["preds"] = preds
    assert df2["preds"].nunique()>=1 # check not all nans

    df2["m_score"] = df2.groupby("fake_round_id")["preds"].transform("max")
    df2["correct"] = ((df2["preds"]==df2["m_score"]) &(df2["won"]>0)).astype(int)#df2.loc[df2["preds"]==df2["m_score"]
    # df2.tail(31) ## there are cases wtih multiple values with same score/rank?  - ignore for now
    df2 = df2.sample(frac=1)
    df2 = df2.sort_values("preds",ascending=False)
    print(classification_report(df2["won"],df2["correct"]))
    print()
    print("Top 1 report:")
    print(classification_report(df2.drop_duplicates(subset=["fake_round_id"])["won"],
                                df2.drop_duplicates(subset=["fake_round_id"])["correct"]))

    print("alt dropdupes acc@1",df2.drop_duplicates(subset=["fake_round_id"])["won"].mean())
    print("top 1 acc by round:",df2.groupby("fake_round_id").head(1)["won"].mean())
    print("top 2 acc by round:",df2.groupby("fake_round_id").head(2).groupby("fake_round_id")["won"].max().mean())
    print("top 3 acc by round:",df2.groupby("fake_round_id").head(3).groupby("fake_round_id")["won"].max().mean())
    
#     display(df2.head(12))

## Load the sBERT Model

* Default , later try pretrained+

In [7]:
# # Load the BERT model. Various models trained on Natural Language Inference (NLI) https://github.com/UKPLab/sentence-transformers/blob/master/docs/pretrained-models/nli-models.md and 
# ## # https://www.sbert.net/docs/pretrained_models.html
# # model = SentenceTransformer("paraphrase-MiniLM-L6-v2") ## "paraphrase-MiniLM-L12-v2"

# model = SentenceTransformer(model_name)

## Setup a Corpus

* `/content/drive/MyDrive/Research/CAH/cah_train_min7_v1.csv` - 37K
    * `/content/drive/MyDrive/Research/CAH/cah_min7_v2.csv.gz`
* `/content/drive/MyDrive/Research/CAH/cah_train_min6_v1.csv`

In [8]:
df = pd.read_parquet(TRAIN_PATH).drop(columns=["prior_white"],errors="ignore") 
print(df.columns)
df = df.filter(USE_TEXT_COLS+["fake_round_id","won"],axis=1)

df["won"] = df["won"].astype(int)
# df = df.sort_values(by="won",ascending=False) ## get picked pairs first  - ORIG
df = df.sort_values("fake_round_id") # new

print(df.shape[0],"rows")
print(df.nunique())
# df["train"]=True

# df["pair_count"] = df.groupby("text")["won"].transform("count") ## can be used to filter sentences occurring less than k times
print(df.groupby("text")["won"].count().describe())
# print(df[["won","pair_count"]].describe().round(2) )

# df = df.drop_duplicates(subset=["black_card_text","white_card_text"],keep="first")#.sample(frac=1)
print(df.shape[0])
display(df)

Index(['fake_round_id', 'black_card_text', 'white_card_text', 'won', 'text',
       'sum_won'],
      dtype='object')
1957080 rows
text               712324
white_card_text      1964
fake_round_id      195708
won                     2
dtype: int64
count    712324.000000
mean          2.747458
std           1.469487
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max          13.000000
Name: won, dtype: float64
1957080

,text,white_card_text,fake_round_id,won
6,"Hi MTV! My name is Kendra, I live in Malibu, I...",A full-on panic attack,1,0
9,"Hi MTV! My name is Kendra, I live in Malibu, I...",Mufasa's death scene,1,0
5,"Hi MTV! My name is Kendra, I live in Malibu, I...",Shapes and colors,1,1
0,"Hi MTV! My name is Kendra, I live in Malibu, I...",Going inside at some point because of the mosq...,1,0
3,"Hi MTV! My name is Kendra, I live in Malibu, I...",That chicken from Popeyes.®,1,0
...,...,...,...,...
2387649,"Nothing says ""I love you"" like Whichever one o...",Whichever one of you took a shit in the shower,238765,0
2387647,"Nothing says ""I love you"" like Magnets.",Magnets,238765,0
2387640,"Nothing says ""I love you"" like Viagra.®.",Viagra.®,238765,1
2387643,"Nothing says ""I love you"" like A concerning am...",A concerning amount of white people,238765,0
2387645,"Nothing says ""I love you"" like Ass to mouth.",Ass to mouth,238765,0

In [9]:
df["white_card_text"].value_counts().describe()

count    1964.000000
mean      996.476578
std        78.762027
min        30.000000
25%       980.000000
50%      1001.000000
75%      1022.000000
max      1993.000000
Name: white_card_text, dtype: float64

In [10]:
TRAIN_WHITES = set(df["white_card_text"])
print(len(TRAIN_WHITES))

1964

Test set
* Keeps round level grouping

In [11]:
df_test = pd.read_parquet(TEST_PATH).drop(columns=["prior_white"],errors="ignore")
# df_test["train"]=False
df_test = df_test.filter(USE_TEXT_COLS+["fake_round_id","won"],axis=1)
df_test["won"] = df_test["won"].astype(int)

df_test = df_test.sample(frac=1).sort_values("fake_round_id")#
# df_test = df_test.tail(150000)

print(df_test.nunique())
print(df_test.shape[0],"rows")
df_test

text               377397
white_card_text      2118
fake_round_id       48928
won                     2
dtype: int64
489280 rows

,text,white_card_text,fake_round_id,won
2387654,What's about to take this dance floor to the n...,Slowly releasing a huge fart over the course o...,238766,0
2387651,What's about to take this dance floor to the n...,Fisting,238766,0
2387653,What's about to take this dance floor to the n...,Crab,238766,1
2387657,What's about to take this dance floor to the n...,The NRA,238766,0
2387650,What's about to take this dance floor to the n...,Trimming the poop out of Chewbacca's butt hair,238766,0
...,...,...,...,...
2989544,Oh my god! Powerful thighs killed Kenny!,Powerful thighs,298955,0
2989547,Oh my god! Jerking off to a 10-second RealMedi...,Jerking off to a 10-second RealMedia clip,298955,0
2989545,Oh my god! Breastfeeding a ten-year-old killed...,Breastfeeding a ten-year-old,298955,0
2989540,Oh my god! Brief male nudity killed Kenny!,Brief male nudity,298955,0
2989542,Oh my god! A bird that shits human turds kille...,A bird that shits human turds,298955,0

In [12]:
df_test.loc[df_test["white_card_text"].isin(TRAIN_WHITES)].shape[0]/df_test.shape[0]

0.991383257030739

In [13]:
df_test.loc[~df_test["white_card_text"].isin(TRAIN_WHITES)] # no rows

,text,white_card_text,fake_round_id,won
2929172,"Well what do you have to say for yourself, Cas...",A drone strike,292918,0
2929194,"Attention Target shoppers. Unfortunately, we w...",Waluigi,292920,0
2929219,"What used to be cool, but is no longer cool? B...",Boycotting Israel,292922,0
2929225,Tampax®: Don't let your period ruin Birth cont...,Birth control,292923,0
2929227,Tampax®: Don't let your period ruin Tweeting a...,Tweeting an apology,292923,0
...,...,...,...,...
2989327,"Aw babe, your burps smell like Being pleasured...",Being pleasured by a thousand tiny Adam Sandlers,298933,0
2989408,"I'm Ted Cruz, and I'm proud to endorse Karen.",Karen,298941,1
2989473,TRIGGER WARNING: A positive attitude!.,A positive attitude!,298948,0
2989484,"And would you like those buffalo wings mild, h...",Also being named Harvey Weinstein,298949,0
2989539,"In his farewell address, George Washington fam...",Syphilis,298954,0

In [14]:
# pd.concat([df_test,df])["white_card_text"].value_counts().describe()

### check mean baseline prior
* By min cooccurrences of sentence pairs in in raw data
1 min occ Prior Acc: 0.2044
2 min occ Prior Acc: 0.2032
3 min occ Prior Acc: 0.2027
4 min occ Prior Acc: 0.2011
5 min occ Prior Acc: 0.1922
6 min occ Prior Acc: 0.1762
7 min occ Prior Acc: 0.1503

In [15]:
df["pair_count"] = df.groupby("text")["won"].transform("count")

# for i in range(1,5):
#   df_temp = df.loc[df["pair_count"] >=i].copy()
#   print(f"{i} min occ, {df_temp.shape[0]} rows")
#   df_white_prior = df_temp.groupby(["white_card_text"], as_index=False)["won"].mean().rename(columns={"won":"white_prior"}).set_index("white_card_text")
#   df_test = df_test.join(df_white_prior,on="white_card_text",how="left")
#   prior = df_test["white_prior"].mean()
#   df_test["white_prior"] = df_test["white_prior"].fillna(prior)
#   print("White Prior Acc: %.3f" %df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
  
# ## prior for a black-white combination - mean (freq% won), or sum (times won?) , or threshholded max? (over 2 times?)
#   df_pair_prior = df_temp.groupby(["white_card_text","black_card_text"], as_index=False)["won"].sum().rename(columns={"won":"pair_prior"}).set_index(["white_card_text","black_card_text"])
  
#   df_test = df_test.join(df_pair_prior,on=["white_card_text","black_card_text"],how="left")
#   prior = df_test["pair_prior"].mean()
#   df_test["pair_prior"] = df_test["pair_prior"].fillna(prior)
#   print("Pair Prior (Only)  Acc: %.3f" %df_test.sort_values("pair_prior",ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
#   print("White then Pair Prior Acc: %.3f" %df_test.sort_values(["white_prior","pair_prior"],ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
#   print("Pair Prior then White Acc: %.3f" %df_test.sort_values(["pair_prior","white_prior",],ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
  
#   df_test.drop(columns=["white_prior","pair_prior"],errors="ignore",inplace=True)

### Get only unique texts - can save compute
* Get embeddings/score only for unique combinations/text

In [16]:
df_texts = pd.concat([df,df_test])[["text"]].drop_duplicates()
print(df_texts.shape)
df_texts

(784974, 1)

                                                      text
6        Hi MTV! My name is Kendra, I live in Malibu, I...
9        Hi MTV! My name is Kendra, I live in Malibu, I...
5        Hi MTV! My name is Kendra, I live in Malibu, I...
0        Hi MTV! My name is Kendra, I live in Malibu, I...
3        Hi MTV! My name is Kendra, I live in Malibu, I...
...                                                    ...
2989508  Every Tuesday, I purchase a box of donuts. I s...
2989503  Every Tuesday, I purchase a box of donuts. I s...
2989539  In his farewell address, George Washington fam...
2989547  Oh my god! Jerking off to a 10-second RealMedi...
2989545  Oh my god! Breastfeeding a ten-year-old killed...

[784974 rows x 1 columns]

* sample

In [17]:
if FASTRUN:
    df_test = df_test.tail(6000) #df_test.head(8000)
    df = df.head(13000)

# text preproc 
* https://colab.research.google.com/github/catboost/tutorials/blob/master/events/2019_11_30_datastart.ipynb#scrollTo=HWrijpMGfFud

In [18]:
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.pipeline import Pipeline,  make_pipeline
# from sklearn.feature_selection import SelectKBest, chi2, SelectFdr

# vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 3),min_df=12,strip_accents="ascii",max_features=60123,
#                             stop_words="english",max_df=0.9) #

# # pipe = Pipeline([("vect",vectorizer),("fs",SelectKBest(chi2, k=8345))] # ,("fs",SelectFdr(chi2,alpha=0.1)
# pipe = make_pipeline(vectorizer,SelectKBest(chi2, k=3500))

#### Creation of CatBoost pools

In [19]:
# train = Pool(
#     data=X_train,
#     label=y_train,
#     group_id=groups_train,
#     text_features=list(X_train.select_dtypes("O").columns)
# )

# test = Pool(
#     data=X_test,
#     label=y_test,
#     group_id=groups_test,
#     text_features=list(X_test.select_dtypes("O").columns)
# )

# # #### preprocessed text:

# # train = Pool(
# #     data=X_preprocessed_train,
# #     label=y_train,
# #     group_id=groups_train,
# #     # text_features=USE_TEXT_COLS ##list(X_train.select_dtypes("O").columns)
# # )

# # test = Pool(
# #     data=X_preprocessed_test,
# #     label=y_test,
# #     group_id=groups_test,
# #     # text_features=USE_TEXT_COLS ## ["black_card_text","white_card_text","text"]
# # )

In [20]:
df_test[["fake_round_id","won"]].drop_duplicates(subset=["fake_round_id"])["won"].mean()

0.09871648136036625

In [21]:
df_test[["fake_round_id","won"]].groupby("fake_round_id").head(1).groupby("fake_round_id").max().mean()

won    0.098716
dtype: float64

In [22]:
df_test[["fake_round_id","won"]].groupby("fake_round_id").head(2).groupby("fake_round_id").max().mean()

won    0.197474
dtype: float64

In [23]:
df_test[["fake_round_id","won"]].groupby("fake_round_id").head(3).groupby("fake_round_id").max().mean()

won    0.298459
dtype: float64

##### baseline  copy 1

In [24]:
df_white_prior = df.groupby(["white_card_text"], as_index=False)["won"].mean().rename(columns={"won":"white_prior"}).set_index("white_card_text")
# df_white_prior = df_train.groupby(["white_card_text"], as_index=False)["won"].mean().rename(columns={"won":"white_prior"}).set_index("white_card_text")
df_test = df_test.join(df_white_prior,on="white_card_text",how="left")
prior = df_test["white_prior"].mean()
# df_test["white_prior"] = df_test["white_prior"].fillna(prior)
df_test["white_prior"] = df_test["white_prior"].fillna(0.1)
print(df_test.shape[0],"test shape after join")
print("Prior Acc @1:",df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(1)["won"].mean())
## alkt: 
print("alt dedup Prior Acc @1:",df_test.sort_values("white_prior",ascending=False).drop_duplicates(subset=["fake_round_id"])["won"].mean())
# print("Prior Acc @1:",df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(1).groupby("fake_round_id")["won"].max().mean()) ## res identical to above
print("Prior Acc @2:",df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(2).groupby("fake_round_id")["won"].max().mean())
print("Prior Acc @3:",df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(3).groupby("fake_round_id")["won"].max().mean())

df_test.drop(columns=["white_prior"],inplace=True,errors="ignore")

489280 test shape after join
Prior Acc @1: 0.2072841726618705
alt dedup Prior Acc @1: 0.2072841726618705
Prior Acc @2: 0.36032537606278614
Prior Acc @3: 0.48606115107913667

In [25]:
white_prior_train1 = df.groupby(["white_card_text"])["won"].mean().fillna(0.1)

# white_prior_train1 = pd.concat([X_train1["white_card_text"],
#                                 pd.Series(y_train1)],axis=1).groupby(["white_card_text"]).mean().fillna(0)

white_prior_train1

white_card_text
...it is unclear                                                           0.059886
10 Incredible Facts About the Anus                                         0.097612
10 football players with erections barrelling towards you at full speed    0.142857
10,000 Syrian refugees                                                     0.134051
10,000 shrieking teenage girls                                             0.123138
                                                                             ...
Your mouth                                                                 0.079457
Your weird brother                                                         0.112635
Yummy yummy yummy yummy rat pussy                                          0.168639
[Picture of Sean Connery from Zardoz]                                      0.056526
marvel                                                                     0.039297
Name: won, Length: 1964, dtype: float64

In [26]:
white_prior_train1.mean()

0.09975460211571943

In [27]:
df_test.merge(white_prior_train1.reset_index(),on="white_card_text",how="left")

,text,white_card_text,fake_round_id,won_x,won_y
0,What's about to take this dance floor to the n...,Slowly releasing a huge fart over the course o...,238766,0,0.101523
1,What's about to take this dance floor to the n...,Fisting,238766,0,0.226054
2,What's about to take this dance floor to the n...,Crab,238766,1,0.073746
3,What's about to take this dance floor to the n...,The NRA,238766,0,0.068182
4,What's about to take this dance floor to the n...,Trimming the poop out of Chewbacca's butt hair,238766,0,0.111655
...,...,...,...,...,...
489275,Oh my god! Powerful thighs killed Kenny!,Powerful thighs,298955,0,0.086913
489276,Oh my god! Jerking off to a 10-second RealMedi...,Jerking off to a 10-second RealMedia clip,298955,0,0.112407
489277,Oh my god! Breastfeeding a ten-year-old killed...,Breastfeeding a ten-year-old,298955,0,0.126379
489278,Oh my god! Brief male nudity killed Kenny!,Brief male nudity,298955,0,0.128079
489279,Oh my god! A bird that shits human turds kille...,A bird that shits human turds,298955,0,0.108379

In [28]:
# df_test.merge(white_prior_train1,on="white_card_text")[0]
eval_preds(df_test,preds=df_test.merge(white_prior_train1.reset_index(),on="white_card_text",how="left")["won_y"].fillna(0.1).values) # [0]

              precision    recall  f1-score   support

           0       0.92      1.00      0.96    440352
           1       1.00      0.21      0.34     48928

    accuracy                           0.92    489280
   macro avg       0.96      0.60      0.65    489280
weighted avg       0.93      0.92      0.90    489280


Top 1 report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     38786
           1       1.00      1.00      1.00     10142

    accuracy                           1.00     48928
   macro avg       1.00      1.00      1.00     48928
weighted avg       1.00      1.00      1.00     48928

alt dropdupes acc@1 0.2072841726618705
top 1 acc by round: 0.2072841726618705
top 2 acc by round: 0.36026406147809026
top 3 acc by round: 0.4859793982995422

         fake_round_id  won     preds   m_score  correct
2825569         282557    0  0.277832  0.277832        0
2709133         270914    0  0.277832  0.277832        0
2416765         241677    1  0.277832  0.277832        1
2930884         293089    0  0.277832  0.277832        0
2989225         298923    1  0.277832  0.277832        1
2906134         290614    0  0.277832  0.277832        0
2527831         252784    0  0.277832  0.277832        0
2983103         298311    0  0.277832  0.277832        0
2685319         268532    0  0.277832  0.277832        0
2637187         263719    0  0.277832  0.277832        0
2749278         274928    1  0.277832  0.277832        1
2669462         266947    0  0.277832  0.277832        0

In [29]:
# print(classification_report(y_true = y_test1,y_pred = [0]*len(y_test1)))
eval_preds(df_test,[0]*df_test.shape[0])

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    440352
           1       1.00      1.00      1.00     48928

    accuracy                           1.00    489280
   macro avg       1.00      1.00      1.00    489280
weighted avg       1.00      1.00      1.00    489280


Top 1 report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     44042
           1       1.00      1.00      1.00      4886

    accuracy                           1.00     48928
   macro avg       1.00      1.00      1.00     48928
weighted avg       1.00      1.00      1.00     48928

alt dropdupes acc@1 0.09986102027468934
top 1 acc by round: 0.09986102027468934
top 2 acc by round: 0.19878188358404186
top 3 acc by round: 0.2966399607586658

         fake_round_id  won  preds  m_score  correct
2873644         287365    0      0        0        0
2796344         279635    0      0        0        0
2542496         254250    0      0        0        0
2983364         298337    0      0        0        0
2559868         255987    0      0        0        0
2698737         269874    0      0        0        0
2630555         263056    0      0        0        0
2517821         251783    1      0        0        1
2631826         263183    0      0        0        0
2787091         278710    0      0        0        0
2555255         255526    0      0        0        0
2497000         249701    0      0        0        0

## Load pretrianed huggingface autoNLP model
* trained on single text col 

* Not using GPU by default ??
    ```
    device = "cuda:0" if torch.cuda.is_available() else "cpu"
    inputs    = tokenizer(sentence, return_tensors="pt").to(device)
    model     = model.to(device)
    ```

* https://huggingface.co/docs/transformers/main_classes/pipelines 
* Cou;d maybe speedup using batching ,dataset? 

* https://huggingface.co/docs/datasets/quicktour.html

In [30]:
from transformers import AutoModelForSequenceClassification, AutoTokenizer
import torch
device = "cuda:0" if torch.cuda.is_available() else "cpu"
print(device)

access_token ="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" #SECRET!!!

cuda:0

##  Extract embeddings

* our Sentence trasnformer expects uncased - MiniLM-L6-H384-uncased

In [31]:
%%time
from sentence_transformers import SentenceTransformer

# model_name = "all-MiniLM-L6-v2"
# # model_name = "/content/drive/MyDrive/research/cah/cah_tsdae-model"
print(model_name)

if TRAIN_EMBEDS:
    # big_model = SentenceTransformer(model_name, device='cuda')
    big_model = SentenceTransformer(model_name,device=device)

    X_embed =  big_model.encode(df_texts["text"].str.lower().values, show_progress_bar=True)

all-MiniLM-L12-v2

Batches:   0%|          | 0/24531 [00:00<?, ?it/s]

CPU times: total: 13min 18s
Wall time: 10min 59s

In [32]:
if TRAIN_EMBEDS:
    df_embed = pd.DataFrame(X_embed)
    df_embed["text"] = df_texts["text"].values ## added .values
    df_embed.columns = df_embed.columns.astype(str)
    df_embed.set_index("text",inplace=True)

    df_embed.to_parquet("cah_embed_L12.parquet")

### CB embed ranker model
* maybe not leave in here

* __Test??? __

In [82]:
df_embed = pd.read_parquet("cah_embed_L12.parquet") ##
print(df_embed.shape)
print((df_embed.isna().sum(axis=1) >360).sum())
print(df_embed.index.nunique(),"unique texts/index") # text col is index
df_embed.columns

(784974, 384)
0
784974 unique texts/index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '374', '375', '376', '377', '378', '379', '380', '381', '382', '383'],
      dtype='object', length=384)

In [83]:
df["white_words"] = df["white_card_text"].str.split().str.len()
df["white_chars"] = df["white_card_text"].str.len()

In [84]:
if MASK_EMBEDS:
    print(df.shape[0],"# all rows")
    mask = df["text"].isin(df_embed.index) ## filter groups, labels + figure out later why missing ?? 
    print(mask.sum())
    ### exclude optionally cases text lacks sent. embedding
    X_train = df.loc[mask][["text"]].merge(df_embed,left_on="text",right_index=True,how="left") ## ["black_card_text","white_card_text","text"]

    X_train.drop(columns=["white_card_text","won", 'pair_count'],errors="ignore",inplace=True)
    print(X_train.shape," matched data")   
    
    groups_train = df.loc[mask][TRAIN_TEST_SEPERATING_GROUP]
else:
    X_train = df.merge(df_embed,left_on="text",right_index=True,how="left") ## ["black_card_text","white_card_text","text"]
    X_train.drop(columns=["won", 'pair_count'],errors="ignore",inplace=True) # "white_card_text",
    
print("all nan rows:",(X_train.isna().sum(axis=1) >380).mean())

all nan rows: 0.0

In [85]:
# assert (X_train.isna().sum(axis=1) >380).mean() < 0.9

In [86]:
X_train.dropna(thresh=30,axis=1,inplace=True)

In [87]:
if MASK_EMBEDS:
    y_train = list(df.loc[mask]["won"])
else:
    y_train = list(df["won"])
X_train

,text,white_card_text,fake_round_id,white_words,white_chars,0,1,2,3,4,...,374,375,376,377,378,379,380,381,382,383
6,"Hi MTV! My name is Kendra, I live in Malibu, I...",A full-on panic attack,1,4,22,0.033793,-0.067966,0.077329,0.034198,0.006424,...,0.048779,0.012570,0.022588,0.035831,-0.040040,-0.015348,0.024284,0.067789,-0.065109,-0.048887
9,"Hi MTV! My name is Kendra, I live in Malibu, I...",Mufasa's death scene,1,3,20,0.007677,-0.090388,0.061951,0.005937,-0.023025,...,0.050956,-0.010247,0.025969,0.037241,-0.053316,-0.001636,0.065134,0.042884,-0.028179,-0.057225
5,"Hi MTV! My name is Kendra, I live in Malibu, I...",Shapes and colors,1,3,17,0.011246,-0.070713,0.102909,-0.007862,-0.055789,...,-0.003756,0.002595,0.074933,0.027768,-0.046553,0.003352,0.018204,0.049430,-0.036299,-0.079126
0,"Hi MTV! My name is Kendra, I live in Malibu, I...",Going inside at some point because of the mosq...,1,9,52,0.054645,-0.078861,0.093864,0.011343,0.034123,...,0.036875,-0.028259,0.039660,-0.000928,-0.011425,0.003074,-0.000635,0.054437,-0.083421,-0.026647
3,"Hi MTV! My name is Kendra, I live in Malibu, I...",That chicken from Popeyes.®,1,4,27,0.033214,-0.091841,0.028120,0.019670,-0.003857,...,-0.010986,-0.003412,0.072283,0.020561,0.050460,-0.033860,-0.013195,0.075336,-0.039880,-0.057560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387649,"Nothing says ""I love you"" like Whichever one o...",Whichever one of you took a shit in the shower,238765,10,46,-0.010507,-0.026029,0.063223,-0.074736,-0.056484,...,0.019921,-0.041441,0.039788,-0.016157,-0.004605,0.028660,0.048957,0.020944,-0.002259,-0.091445
2387647,"Nothing says ""I love you"" like Magnets.",Magnets,238765,1,7,-0.076879,0.023086,0.046434,-0.047243,-0.056049,...,0.002455,-0.057098,0.010191,0.071855,0.001993,0.059568,0.070973,0.058419,0.022980,-0.070843
2387640,"Nothing says ""I love you"" like Viagra.®.",Viagra.®,238765,1,8,-0.018341,0.018172,-0.033941,-0.054432,-0.016169,...,-0.013550,-0.031841,-0.016285,0.031521,-0.036019,-0.028377,0.054704,-0.083308,0.072151,-0.067043
2387643,"Nothing says ""I love you"" like A concerning am...",A concerning amount of white people,238765,6,35,-0.002233,-0.009712,-0.027592,-0.029327,-0.032782,...,-0.004829,-0.087455,-0.064766,0.058148,0.011847,0.053377,0.059628,0.040140,-0.000810,-0.094313
2387645,"Nothing says ""I love you"" like Ass to mouth.",Ass to mouth,238765,3,12,-0.041972,0.000589,-0.003853,-0.105627,-0.074686,...,0.000638,-0.094185,-0.003187,0.062609,0.011502,0.076264,0.108535,0.020018,0.060729,-0.096850

In [88]:
# ### opt: drop the text cols
# X_train.drop(columns=["text"],inplace=True)

In [89]:
print(TRAIN_TEST_SEPERATING_GROUP)

# groups_train = df.loc[mask][TRAIN_TEST_SEPERATING_GROUP]
groups_train = df[TRAIN_TEST_SEPERATING_GROUP]
print(len(set(groups_train)))

fake_round_id
195708

In [90]:
display(df["won"].describe())
print("in embed filtered:")
display(df.loc[df["text"].isin(df_embed.index)]["won"].describe())

count    1957080.0
mean           0.1
std            0.3
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            1.0
Name: won, dtype: float64

in embed filtered:

count    1957080.0
mean           0.1
std            0.3
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            1.0
Name: won, dtype: float64

In [91]:
print("train unique jokes",df["text"].drop_duplicates().shape[0], "rows:",df.shape[0])
print("Test unique jokes",df_test["text"].drop_duplicates().shape[0], "rows",df_test.shape[0])

train unique jokes 712324 rows: 1957080
Test unique jokes 377397 rows 489280

In [92]:
100*df_test.shape[0]/df.shape[0]

25.000510965315673

In [93]:
if MASK_EMBEDS:
    # X_test = df_test[USE_TEXT_COLS] ## ["black_card_text","white_card_text","text"]
    mask = df_test["text"].isin(df_embed.index) ## filter groups, labels + figure out later why missing ?? 
    print(mask.sum())

    X_test = df_test.loc[mask][["text"]].join(df_embed,on="text",how="left").drop(columns=["text"]) ## ["black_card_text","white_card_text","text"]
    # X_test.drop(columns=["text"],inplace=True)
    X_test.drop(columns=["text","white_card_text","won", 'pair_count'],errors="ignore",inplace=True)
    print(X_test.shape)

    y_test = list(df_test.loc[mask]["won"])
    groups_test = df_test.loc[mask]["fake_round_id"]
else:
    print("inner join x_test shape:",df_test[["text"]].join(df_embed,on="text",how="inner").shape[0])
#     X_test = df_test[["text","white_card_text"]].join(df_embed,on="text",how="left") # ORIG

    df_test["white_words"] = df_test["white_card_text"].str.split().str.len()
    df_test["white_chars"] = df_test["white_card_text"].str.len()
    X_test = df_test[["text","white_card_text","fake_round_id","white_words","white_chars"]].join(df_embed,on="text",how="left")
    
#     X_test.drop(columns=["text","white_card_text","won", 'pair_count'],errors="ignore",inplace=True) ## ["black_card_text","white_card_text","text"]
    X_test.drop(columns=["won", 'pair_count'],errors="ignore",inplace=True)
    
    print(X_test.shape, "Left join shape")

    y_test = list(df_test["won"])
    groups_test = df_test[TRAIN_TEST_SEPERATING_GROUP]

inner join x_test shape: 489280
(489280, 389) Left join shape

In [94]:
X_test.dropna(thresh=40,axis=1,inplace=True)
X_test.shape[1]

389

## White/Punchline Level SPLIT
* Groupwise split by white cards/punchlines

* https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedGroupKFold.html
* https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html

In [95]:
X_train.iloc[:,0:6]

,text,white_card_text,fake_round_id,white_words,white_chars,0
6,"Hi MTV! My name is Kendra, I live in Malibu, I...",A full-on panic attack,1,4,22,0.033793
9,"Hi MTV! My name is Kendra, I live in Malibu, I...",Mufasa's death scene,1,3,20,0.007677
5,"Hi MTV! My name is Kendra, I live in Malibu, I...",Shapes and colors,1,3,17,0.011246
0,"Hi MTV! My name is Kendra, I live in Malibu, I...",Going inside at some point because of the mosq...,1,9,52,0.054645
3,"Hi MTV! My name is Kendra, I live in Malibu, I...",That chicken from Popeyes.®,1,4,27,0.033214
...,...,...,...,...,...,...
2387649,"Nothing says ""I love you"" like Whichever one o...",Whichever one of you took a shit in the shower,238765,10,46,-0.010507
2387647,"Nothing says ""I love you"" like Magnets.",Magnets,238765,1,7,-0.076879
2387640,"Nothing says ""I love you"" like Viagra.®.",Viagra.®,238765,1,8,-0.018341
2387643,"Nothing says ""I love you"" like A concerning am...",A concerning amount of white people,238765,6,35,-0.002233
2387645,"Nothing says ""I love you"" like Ass to mouth.",Ass to mouth,238765,3,12,-0.041972

In [96]:
from sklearn.model_selection import GroupShuffleSplit, StratifiedGroupKFold

# groups = np.array([1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 6, 7, 8, 8])
groups = groups_train
# cv = GroupShuffleSplit(n_splits=7,test_size=0.15)
cv = StratifiedGroupKFold(n_splits=5)
for train_idxs, test_idxs in cv.split(X_train, y_train, groups):
#     print("TRAIN:", groups[train_idxs])
#     print("      ", y[train_idxs])
#     print(" TEST:", groups[test_idxs])
#     print("      ", y[test_idxs])
    X_train1, X_test1 = X_train.iloc[train_idxs], X_train.iloc[test_idxs]
    y_train1, y_test1 = np.array(y_train)[train_idxs], np.array(y_train)[test_idxs]
    groups_train1, groups_test1 = np.array(groups)[train_idxs], np.array(groups)[test_idxs]
    
    ##
    '''
    "Try disabling?"
    df_test = df.iloc[test_idxs]
    '''
# train_idxs, test_idxs = yield cv.split(X_train, y_train, groups)
# X_train1, X_test1, y_train1, y_test1 = cv.split(X_train, y_train, groups)

In [97]:
print(X_train1.shape[0],"X_train1")
print(X_test1.shape[0],"X_test1")
print("y_train1",len(y_train1))
print("y_test1",len(y_test1))

1565670 X_train1
391410 X_test1
y_train1 1565670
y_test1 391410

In [106]:
X_test.iloc[4].text

"What's about to take this dance floor to the next level? Trimming the poop out of Chewbacca's butt hair"

In [107]:
X_test

,text,white_card_text,fake_round_id,white_words,white_chars,0,1,2,3,4,...,374,375,376,377,378,379,380,381,382,383
2387654,What's about to take this dance floor to the n...,Slowly releasing a huge fart over the course o...,238766,11,59,0.058671,0.007793,0.084170,-0.018567,-0.023301,...,0.047038,0.005557,-0.007978,0.036372,-0.084300,0.104283,-0.106492,0.049100,0.004500,0.015244
2387651,What's about to take this dance floor to the n...,Fisting,238766,1,7,0.016532,-0.005833,0.074216,0.000179,-0.040962,...,0.068310,0.032706,-0.053415,0.029278,-0.073284,0.086287,-0.093897,0.009388,-0.009554,0.020975
2387653,What's about to take this dance floor to the n...,Crab,238766,1,4,-0.009618,0.037290,0.083492,-0.003419,-0.033193,...,0.046389,0.003042,-0.048668,-0.000637,-0.078674,0.107016,-0.113161,0.031830,-0.031736,0.054885
2387657,What's about to take this dance floor to the n...,The NRA,238766,2,7,0.011638,0.069656,-0.018557,-0.015195,0.058046,...,0.057624,0.023664,-0.029879,0.004467,-0.104265,0.046286,-0.073511,-0.043405,-0.008934,0.033694
2387650,What's about to take this dance floor to the n...,Trimming the poop out of Chewbacca's butt hair,238766,8,46,-0.009722,0.037323,0.127713,-0.033570,-0.049430,...,0.080193,0.061456,-0.000951,-0.020631,-0.065344,0.192132,-0.007318,0.023680,-0.003165,0.043150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2989544,Oh my god! Powerful thighs killed Kenny!,Powerful thighs,298955,2,15,-0.054115,0.003270,-0.089941,-0.032728,-0.021614,...,0.012492,-0.021497,0.046712,-0.112703,-0.057554,0.035539,0.000923,0.011251,0.012439,-0.025457
2989547,Oh my god! Jerking off to a 10-second RealMedi...,Jerking off to a 10-second RealMedia clip,298955,7,41,-0.045900,-0.007379,0.035463,-0.056884,0.061098,...,0.129357,-0.025085,0.054490,-0.054586,-0.053204,0.000986,-0.045390,-0.010783,-0.049372,-0.038719
2989545,Oh my god! Breastfeeding a ten-year-old killed...,Breastfeeding a ten-year-old,298955,3,28,-0.030399,0.017176,0.028523,-0.004961,0.038510,...,0.050230,-0.038944,0.061644,-0.096925,-0.018735,0.018563,-0.078479,0.074097,0.093822,-0.052094
2989540,Oh my god! Brief male nudity killed Kenny!,Brief male nudity,298955,3,17,-0.029790,0.089413,-0.010334,-0.115668,0.105980,...,0.059651,-0.064395,0.056659,-0.038488,-0.038977,0.013565,-0.019454,-0.055504,0.012721,-0.087302
2989542,Oh my god! A bird that shits human turds kille...,A bird that shits human turds,298955,6,29,0.061375,0.012544,-0.063278,-0.025778,0.029323,...,0.035408,-0.011254,0.057902,-0.034795,0.039756,-0.032775,-0.036855,0.039131,0.055784,-0.077401

In [108]:
train = Pool(
    data=X_train.drop(columns=["fake_round_id"],errors="ignore"),#.iloc[:,0:36].drop(columns=["fake_round_id"],errors="ignore"),
    label=y_train,
    group_id= X_train["fake_round_id"],#groups_train,
    text_features=["text","white_card_text"],
#     embedding_features=list(X_train.select_dtypes("number").columns) # expects list
)

test = Pool(
    data=X_test.drop(columns=["fake_round_id"],errors="ignore"),#.iloc[:,0:36],
    label=y_test,
    group_id= X_test["fake_round_id"],#groups_test,
    text_features=["text","white_card_text"],
#     embedding_features=list(X_train.select_dtypes("number").columns)
)

# train = Pool(
#     data=X_train1,#,.drop(columns=["text"]),
#     label=y_train1,
#     group_id= X_train1["fake_round_id"], # "fake_round_id"#,#groups_train1,
#     text_features=["text","white_card_text"],
# #     embedding_features=list(X_train.select_dtypes("number").columns)[1:] # expects list , remove round id?
# )

# test = Pool(
#     data=X_test1,#,.drop(columns=["text"]),
#     label=y_test1,
#     group_id=X_test1["fake_round_id"],#groups_test1,
#     text_features=["text","white_card_text"],
# #     embedding_features=list(X_train.select_dtypes("number").columns)[1:]
# )

In [109]:
# assert X_test1.shape[0] == df_test.shape[0]

In [110]:
# X_test1.text.head(2)

In [111]:
# df_test.text.head(2) ## same as X_test1 .. .

In [112]:
default_parameters = {
    'iterations': 1000,
#     "eval_metric": 'AverageGain:top=1',
    'custom_metric': ["AUC",'AverageGain:top=1',#'AverageGain:top=2','AverageGain:top=3','PFound:top=1','PFound:top=3',
                      ], #"Accuracy",'PrecisionAt:top=1', 'RecallAt:top=1'], #['NDCG', 'PFound', 'AverageGain:top=1',"AUC"],
    'verbose': 50,
    'random_seed': 0,
    "early_stopping_rounds":40,
    'metric_period': 5,
     'task_type': 'GPU',
#     "use_best_model":True,
#     "auto_class_weights":"SqrtBalanced",#"SqrtBalanced", # Doesn't really affect auto_class_weights; Balanced , 
}
parameters = {}

In [113]:
### classifier 
model = CatBoostClassifier(**default_parameters)
model.fit(train,
          eval_set=test,
          plot=True,verbose=False)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

Warning: less than 75% gpu memory available for training. Free: 4287.125 Total: 6143.5625
Metric AverageGain:top=1 is not implemented on GPU. Will use CPU for metric computation, this could significantly affect learning time

In [114]:
print(model.get_best_score())
print()
preds_pw = model.predict(test,prediction_type="Probability")[:,1]
# print("rocAUC:",roc_auc_score(y_test1,preds_pw))
print("rocAUC:",roc_auc_score(y_test,preds_pw))
eval_preds(df_test,preds_pw)

{'learn': {'Logloss': 0.3121625393443293, 'AverageGain:top=1': 0.2197764015778609}, 'validation': {'Logloss': 0.3135457968852191, 'AverageGain:top=1': 0.20430019620667103, 'AUC': 0.6432643532752991}}

rocAUC: 0.6432643407401212
              precision    recall  f1-score   support

           0       0.92      1.00      0.96    440352
           1       1.00      0.20      0.34     48928

    accuracy                           0.92    489280
   macro avg       0.96      0.60      0.65    489280
weighted avg       0.93      0.92      0.90    489280


Top 1 report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     38932
           1       1.00      1.00      1.00      9996

    accuracy                           1.00     48928
   macro avg       1.00      1.00      1.00     48928
weighted avg       1.00      1.00      1.00     48928

alt dropdupes acc@1 0.20430019620667103
top 1 acc by round: 0.20430019620667103
top 2 acc by round: 0.3582406801831262
top 3 acc by round: 0.48528449967298887

         fake_round_id  won     preds   m_score  correct
2761616         276162    1  0.447992  0.447992        1
2980149         298015    0  0.441352  0.441352        0
2612424         261243    0  0.428652  0.428652        0
2679167         267917    1  0.406150  0.406150        1
2411376         241138    1  0.386268  0.386268        1
2699588         269959    0  0.379327  0.379327        0
2557208         255721    1  0.378660  0.378660        1
2595764         259577    1  0.377945  0.377945        1
2747221         274723    0  0.377945  0.377945        0
2785779         278578    0  0.365525  0.365525        0
2635382         263539    0  0.362057  0.362057        0
2554257         255426    1  0.359577  0.359577        1

##### baseline odd - now showing different ly than when run originalyl in notebook 1?

In [115]:
white_prior_train1 = df.groupby(["white_card_text"])["won"].mean().fillna(0)

# white_prior_train1 = pd.concat([X_train1["white_card_text"],
#                                 pd.Series(y_train1)],axis=1).groupby(["white_card_text"]).mean().fillna(0)

white_prior_train1

white_card_text
...it is unclear                                                           0.059886
10 Incredible Facts About the Anus                                         0.097612
10 football players with erections barrelling towards you at full speed    0.142857
10,000 Syrian refugees                                                     0.134051
10,000 shrieking teenage girls                                             0.123138
                                                                             ...
Your mouth                                                                 0.079457
Your weird brother                                                         0.112635
Yummy yummy yummy yummy rat pussy                                          0.168639
[Picture of Sean Connery from Zardoz]                                      0.056526
marvel                                                                     0.039297
Name: won, Length: 1964, dtype: float64

In [116]:
# df_test.merge(white_prior_train1,on="white_card_text")[0]
eval_preds(df_test,df_test.merge(white_prior_train1.reset_index(),on="white_card_text",how="left")["won_y"].values) # [0]

              precision    recall  f1-score   support

           0       0.92      1.00      0.96    440352
           1       1.00      0.21      0.34     48928

    accuracy                           0.92    489280
   macro avg       0.96      0.60      0.65    489280
weighted avg       0.93      0.92      0.90    489280


Top 1 report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     38786
           1       1.00      1.00      1.00     10142

    accuracy                           1.00     48928
   macro avg       1.00      1.00      1.00     48928
weighted avg       1.00      1.00      1.00     48928

alt dropdupes acc@1 0.2072841726618705
top 1 acc by round: 0.2072841726618705
top 2 acc by round: 0.36003924133420534
top 3 acc by round: 0.485550196206671

         fake_round_id  won     preds   m_score  correct
2754449         275445    0  0.277832  0.277832        0
2669151         266916    0  0.277832  0.277832        0
2628951         262896    0  0.277832  0.277832        0
2700566         270057    0  0.277832  0.277832        0
2658607         265861    1  0.277832  0.277832        1
2686190         268620    0  0.277832  0.277832        0
2896166         289617    0  0.277832  0.277832        0
2897458         289746    1  0.277832  0.277832        1
2656744         265675    0  0.277832  0.277832        0
2885310         288532    0  0.277832  0.277832        0
2856741         285675    0  0.277832  0.277832        0
2824607         282461    1  0.277832  0.277832        1

In [124]:
roc_auc_score(df_test["won"],df_test.merge(white_prior_train1.reset_index(),on="white_card_text",how="left")["won_y"].fillna(0.1).values)

0.6449253287955803

In [117]:
eval_preds(df_test,[0.1]*(df_test.shape[0]))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    440352
           1       1.00      1.00      1.00     48928

    accuracy                           1.00    489280
   macro avg       1.00      1.00      1.00    489280
weighted avg       1.00      1.00      1.00    489280


Top 1 report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     44011
           1       1.00      1.00      1.00      4917

    accuracy                           1.00     48928
   macro avg       1.00      1.00      1.00     48928
weighted avg       1.00      1.00      1.00     48928

alt dropdupes acc@1 0.10049460431654676
top 1 acc by round: 0.10049460431654676
top 2 acc by round: 0.2018884892086331
top 3 acc by round: 0.30040058862001306

         fake_round_id  won  preds  m_score  correct
2861807         286181    0    0.1      0.1        0
2672361         267237    0    0.1      0.1        0
2712653         271266    0    0.1      0.1        0
2387945         238795    0    0.1      0.1        0
2393920         239393    1    0.1      0.1        1
2604743         260475    1    0.1      0.1        1
2762871         276288    0    0.1      0.1        0
2477127         247713    0    0.1      0.1        0
2987449         298745    0    0.1      0.1        0
2736989         273699    0    0.1      0.1        0
2424891         242490    0    0.1      0.1        0
2445332         244534    0    0.1      0.1        0

In [118]:
# print(classification_report(y_true = y_test1,y_pred = [0]*len(y_test1)))
# eval_preds(df_test,[0]*len(y_test1))

###### ranking models

In [119]:
def fit_model(loss_function, additional_params=None, train_pool=train, test_pool=test, **kwargs):
    parameters = deepcopy(default_parameters)
    parameters['loss_function'] = loss_function
    parameters['train_dir'] = loss_function
    
    if additional_params is not None:
        parameters.update(additional_params)
        
    model = CatBoostRanker(**parameters, **kwargs)
#     model = CatBoostClassifier(**parameters, **kwargs)
    model.fit(train_pool, eval_set=test_pool, plot=True) # plot broken on colab
    
    return model

In [120]:
# # model_pw = fit_model("PairLogitPairwise")
# model_pw = fit_model("YetiRank")
# preds_pw = model_pw.predict(test)
# print("rocAUC:",roc_auc_score(y_test,preds_pw))
# eval_preds(df_test,preds_pw)

In [121]:
model_pw = fit_model("PairLogitPairwise") ## pairwise is much slower on cpu
preds_pw = model_pw.predict(test)
# print("rocAUC:",roc_auc_score(y_test1,preds_pw))
print("rocAUC:",roc_auc_score(df_test["won"],preds_pw))
eval_preds(df_test,preds_pw)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

Warning: less than 75% gpu memory available for training. Free: 4287.125 Total: 6143.5625

CatBoostError: C:/Program Files (x86)/Go Agent/pipelines/BuildMaster/catboost.git/catboost/private/libs/algo/data.cpp:480: Computation of online text features is supported only for classification task

In [ ]:
len(y_test)

In [ ]:
len(X_test1)

In [ ]:
len(preds_pw)

In [ ]:
print(y_train)

In [ ]:
# ### compare perf to baseline (on masked data)

# mask = df["text"].isin(df_embed.index) ## filter groups, labels + figure out later why missing ?? ## all tet are in it
# print(mask.sum())

# df["pair_count"] = df.groupby("text")["won"].transform("count")

# for i in range(1,5):
#   df_temp = df.loc[df["pair_count"] >=i].copy()
#   print(f"{i} min occ, {df_temp.shape[0]} rows")
#   df_white_prior = df_temp.groupby(["white_card_text"], as_index=False)["won"].mean().rename(columns={"won":"white_prior"}).set_index("white_card_text")
#   df_test = df_test.join(df_white_prior,on="white_card_text",how="left")
#   prior = df_test["white_prior"].mean()
#   df_test["white_prior"] = df_test["white_prior"].fillna(prior)
#   print("White Prior Acc: %.3f" %df_test.sort_values("white_prior",ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
  
# ## prior for a black-white combination - mean (freq% won), or sum (times won?) , or threshholded max? (over 2 times?)
#   df_pair_prior = df_temp.groupby(["white_card_text","black_card_text"], as_index=False)["won"].sum().rename(columns={"won":"pair_prior"}).set_index(["white_card_text","black_card_text"])
  
#   df_test = df_test.join(df_pair_prior,on=["white_card_text","black_card_text"],how="left")
#   prior = df_test["pair_prior"].mean()
#   df_test["pair_prior"] = df_test["pair_prior"].fillna(prior)
#   print("Pair Prior (Only)  Acc: %.3f" %df_test.sort_values("pair_prior",ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
#   print("White then Pair Prior Acc: %.3f" %df_test.sort_values(["white_prior","pair_prior"],ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
#   print("Pair Prior then White Acc: %.3f" %df_test.sort_values(["pair_prior","white_prior",],ascending=False).groupby("fake_round_id").head(1)["won"].mean()) ## 17.6% (with min 6) , 17.6% with min 3
  
#   df_test.drop(columns=["white_prior","pair_prior"],errors="ignore",inplace=True)

In [ ]:
# # ## https://stackoverflow.com/questions/64342621/how-to-apply-a-sentiment-classifier-to-a-dataframe
# # ## got stuck:

# try: classifier = pipeline('text-classification', model=model, tokenizer=tokenizer , device=0)# , device=0. # for gpu
# except:
#     classifier = pipeline('text-classification', model=model, tokenizer=tokenizer)  # CPU


# # classifier = pipeline('text-classification', model=model, tokenizer=tokenizer)

In [ ]:
%%time
# from transformers.pipelines.base import KeyDataset
# import datasets
# import tqdm                                                                         
# from datasets import load_dataset
# https://huggingface.co/docs/datasets/quicktour.html

# dataset = load_dataset("pandas",df_test[["text"]]) ### very slow? maybe missing something? 

# dataset = datasets.load_dataset("imdb", name="plain_text", split="unsupervised")
# pipe = pipeline("text-classification", device=0)

# pipe = classifier.copy()
# for out in pipe(KeyDataset(dataset, "text"), batch_size=8, truncation="only_first"):
#     print(out)

In [ ]:
# %%time
# data_tok = tokenizer(list(df_test["text"].values), return_tensors='tf', truncation=True, padding="longest", max_length=384)
# print(len(data_tok))

In [ ]:
print(df_test.shape[0])
df_test.shape[0]//600

In [ ]:
# %%time
# # # #### 81 samples: 9.2 Seconds with cpu, 1.3 with gpu
# #### CPU:   1 samples: 167 ms (0.1 sec)
# df_test.head(df_test.shape[0]//600).assign(sentiment = lambda x: x['text'].apply(lambda s: classifier(s)))\
# .assign(
#          label = lambda x: x['sentiment'].apply(lambda s: (s[0]['label'])),
#          score = lambda x: x['sentiment'].apply(lambda s: (s[0]['score']))
#         )

* The "score" is for that class/label!

In [ ]:
%%time
### SLOW - long time
### on cpu: 15 min for 7.4K rows
### GPU: 10 min for 71K ; 1.1 min for 8.6K
### less effecient this way, done sequentially
# https://stackoverflow.com/questions/64342621/how-to-apply-a-sentiment-classifier-to-a-dataframe
df_test = (
    df_test#.head(10)
    .assign(sentiment = lambda x: x['text'].apply(lambda s: classifier(s)))
    .assign(
         label = lambda x: x['sentiment'].apply(lambda s: (s[0]['label'])),
         score = lambda x: x['sentiment'].apply(lambda s: (s[0]['score']))
    )
)

df_test

In [ ]:
### note that score is for a given label, so we want by label, then by score
print("label,score Acc:",df_test.sort_values(["label","score","fake_round_id"],ascending=False).groupby("fake_round_id").head(1)["won"].mean())
# print("label,rev score Acc:",df_test.sort_values(["label","score"],ascending=[False,True]).groupby("fake_round_id").head(1)["won"].mean())

# print("label Acc:",df_test.sort_values("label",ascending=False).groupby("fake_round_id").head(1)["won"].mean())
# print("reverse label Acc:",df_test.sort_values("label",ascending=True).groupby("fake_round_id").head(1)["won"].mean())